<%= render partial: 'shared/menu' %>
<h1>Users</h1>

<ul>
    <% @users.each do |user| %>
      <li><%= user.username %></li>
      <p><%= user.email %></p>


    <% end %>
</ul>

<%= link_to 'Lien vers les posts', posts_path %>
