<% comments.each do |comment| %>
    <div>
        <h3 ><%= comment.title %></h3>
        <span><%= t('views.shared.menu.from')%> <%= comment.user.username %></span>
        <p><%= comment.content %></p>


    </div>

<% end %>
