<% @posts.each do |post| %>

        <h2><%= post.id %> - <%= post.title %></h2>
        <span>De <%= post.user.username %></span>
        <%= link_to "Lire l'article", post_path(post.id) %>

<% end %>
